main {
  width: 80vw;
  margin: auto;
  padding: 30px;
}

.layout-1 {
  max-width: 100%;
  width: 80%;
  padding: 0 30px;
  margin: auto;
}

.layout-1 > div {
  border-radius: 4px;
}

.layout-1 > div:first-child {
  width: 100%;
  background-color: red;
  height: 50px;
  margin-bottom: 45px;
}

.layout-1 > div:first-child + div {
  width: 30%;
  background-color: rgb(12, 170, 12);
  height: 70vh;
  float: left;
}

.layout-1 > div:last-child {
  width: 65%;
  background-color: rgb(7, 94, 94);
  height: 70vh;
  float: right;
}

.clear {
  clear: left;
}

.layout-2 {
  width: 80%;
  margin: auto;
  clear: both;
  padding: 50px 0;
}

.layout-2 > div {
  width: 15%;
  height: 20vh;
  border-radius: 5px;
  background-color: rgb(10, 112, 112);
  float: left;
  margin: 30px 30px 0 0;
}

.layout-3 {
  padding: 30px 0;
}

.linus {
  width: 30%;
  margin: auto;
  text-align: center;
  background-color: wheat;
  padding: 20px 0;
}

.linus img {
  width: 150px;
  margin: 0 0 20px 0;
}

.linus p {
  font-size: 20px;
  margin-bottom: 0;
}

h3 {
  font-size: 28px;
  margin: 0;
  color: blue;
}

.khan {
  width: 80%;
  margin-left: 21%;
  padding: 40px 0;
}

.khan img {
  width: 130px;
  float: left;
  margin-right: 30px;
}

.khan h3 {
  color: red;
}

.layout-3 > div:last-child {
  margin-top: 80px;
  width: 100%;
  padding: 20px 40px;
  height: 100px;
  background-color: rgb(194, 86, 15);
}

.layout-3 h4 {
  color: white;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}

.layout-3 > div:last-child > div:first-child {
  float: left;
  border-right: 8px solid black;
  width: 50%;
}

.layout-3 > div:last-child > div:last-child {
  float: right;
  text-align: right;
}
